/* Uncomment to use a custom font */
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
   font-family: 'hasklig semibold', 'Meslo LG S', monospace !important;
   font-size: 12px;
   line-height: 110%;
  -webkit-font-smoothing: antialiased !important;
}

#menubar .navbar-collapse {background-color: #050505;}
.text_cell.rendered .rendered_html { font-size: 12px;}

.completions {
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    border-color: #555;
    line-height: 1;
}

.introspection {
    background: #000 !important;
    color: #109010 !important;
    font-family: "hasklig semibold" !important;
    font-size: 12px !important;
}

option:checked { box-shadow: 0 0 10px 100px #f80 inset;}

/* ------ Modal ------- */
.modal-header { background-color: #303030; border-bottom: 1px solid #555; }
.modal-title { color: #f09030; }
.modal-footer {background-color: #303030;border-top: 1px solid #555;}
.modal-body { background-color: #101010;}
.modal-body code { color: #109050 !important; background: #101010;}
.modal-body p {color: #109030;}
.modal-body textarea {color: #f09030; background: #101010; border-color: #303030 !important;}
.modal-content { background-color: #555;}

/* --------------- some additional elements --------------- */
del { color: #860514; font-style: italic; }

/* ------------------- sidebar ----------------------- */
.sidebar-wrapper {
    width: 220px;
    max-width: 25%;
    background-color: rgba(0, 0, 0, 1);
    border-color: #800c0c;
}
.float-wrapper { border: thin solid #800c0c; background-color: #111; }
#toc-wrapper .header {
    font-family: 'Meslo LG S', monospace !important;
    font-size: 18px;
    font-weight: bold;
    color: red;
}
#toc-level0 a {
    color: #5cb85c;
    text-decoration: none;
    font-family: 'hasklig semibold', 'Meslo LG S', monospace !important;
    font-size: 11px;
}
#toc-level0 li { display: block; font-size: 11px; }
#toc-level0 li > a:hover { display: block;  background-color: #3242be85; font-size: 11px; } 
.toc-item-highlight-select { display: block; background-color: #3242becf; }
/* ------------------- sidebar ----------------------- */

.notebook_app {
    background-color: #000 !important; 
}
div#notebook {
	background-color: #000; 
	border-top: none;
    padding-top: 5px;
	
}
div#header-container { display: none;  }
div#maintoolbar { display: none !important; }
body > #header #header-container {display: none;}

div.output.output_scroll {box-shadow: none;}

/*Scroll bars*/
::-webkit-scrollbar { width: 7px; display: none;}

/* Handle */
::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 5px;
	    border-radius: 5px;
	    background: #880000;
        display: none;

}
::-webkit-scrollbar-thumb:window-inactive {
	background: #484848;
}

.container {
    width: 100% !important;}

body.nbextensions_configurator_page {
    color: #308030;
}
	
#site {
    background: #050505;
}
.terminal-app .terminal, .terminal-app .terminal dummy-screen {
    line-height: 1em !important;
    font-size: 12px;
    font-family: 'hasklig semibold', 'Consolas', monospace !important;
    background: #1e1d1d;
}
/*########################*/

body > #header .header-bar {
    background: #0b0b0b;
}

/* GLOBALS */
body {background-color: #000;}
a {
	/*color: #87a6fc;*/
	color: #509050;
	text-decoration: none !important;
}

a:hover, a:focus {
	/*color: #1372c8;*/
	color: #5f5;
	text-shadow: -1px 1px 8px #555, 1px -1px 8px #555; 
}

/* INTRO PAGE */
.toolbar_info, .list_container {color: #c3c3c3;}

/* NOTEBOOK */
div.input_prompt {color: #567ff6;}
div.output_prompt {color: #50a050;}

div.input_area {
  border-radius: 0px;
  border: 1px solid #202020;
}

div.output_area pre {font-weight: normal; color: #bbb;}
div.output_subarea {font-weight: normal; color: #bbb;}

input.raw_input {
    font-family: inherit;
    font-weight: bold !important;
    font-size: inherit;
    width: 75%;
    vertical-align: baseline;
    padding: 0em 0.25em;
    margin: 0em 0.25em;
    color: #30a030;
    background-color: #202020;
    border: 1px solid #202020;
}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #50f050 solid;
  color: #a7a7a7;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #a7a7a7;}

div.cell.selected {
	border-radius: 0px; 
	border-left-width: 3px !important; 
	border-top-width: 0px !important; 
	border-bottom-width: 0px !important; 
	border-color: #3991b7 !important;
	padding-left: 0px !important;
    padding-bottom:  6px !important;
    padding-top: 6px !important;
	/*background: linear-gradient(to right, #1aa1ce -10px, #6476c6 6px, transparent 6px, rgba(0, 0, 0, 0) 100%);*/
}

.edit_mode div.cell.selected {
    border-left-width: 4px;
    padding-left: 0px;
    border-color: #ca2e14 !important;
    /*background: linear-gradient(to right, #ca2e14cf -10px, #ca2e14cf 6px, transparent 6px, transparent 100%);*/
}

div.cell.selected:before, div.cell.selected.jupyter-soft-selected:before {
    background: rgba(0, 0, 0, .1) !important;
}

div.cell.jupyter-soft-selected {
    border-left-color: #1c2020;
    border-left-width: 1px;
    padding-left: 5px;
    border-right-color: #1c2020;
    border-right-width: 1px;
    background: #1b1f36;
}

div.cell {padding-left: 2px !important;}

div.text_cell_render, div.output_html {color: #b7b7b7;}
div.output_stderr {background-color: #101010;}
div.output_stderr pre {
	color: #808010; 
	font-size: 12px;
}
	
.btn-group > .btn,.form-control,div#header, div.navbar-collapse, div#notebook-container,
div#notebook,div#complete > select,div#notification_notebook,div#notification_kernel,li > .dropdown-menu,
.dropdown-menu > li > a,.dropdown-menu > li > a:focus {
	color: #ddd;
	border-color: #303030;
	background-color: #000; /* Main bg color is here */
    font-size: 10px;
}

.dropdown-menu > li > a:hover {
	background-color: #a00000;
	color: #fff;
    font-size: 10px;
}

.dropdown,.dropdown.open,.dropdown-menu {
	color: silver;
	background-color: #050505;
}
	
.dropdown-menu .divider {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #2e2e2e;
}
	

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > li > a:hover {
	color: #fff !important;
    background-color: #a00000;
}

.navbar-default {
    background-color: #30308000;
	border-color: #333 !important;
}

.navbar-default .navbar-nav > li > a {
	color: #ddd !important;  /* Menu text color */
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff !important;
    background-color: #a00000;
}

/* special hack for convertor to html */
div.input_area { background: #1e1e1e !important; }
span.n {color:#8f9d6a !important;}
span.s {color:#f9ee98 !important;}
span.p {color:#9b703f !important;}
.highlight { background: #292b2f !important; }

.rendered_html pre, .rendered_html code {
	background-color: #2e2e2e !important;
	color: #60a060 !important;
}
	
.rendered_html * + ol {
    margin-top: 0em;
    margin-bottom: 1em;
}
	
.rendered_html * + ul {
    margin-top: 0em;
    margin-bottom: 1em;
}

/* Scratchpad style */
#nbextension-scratchpad .cell-wrapper {
	height: 100%;
	overflow: auto;
	background-color: #101010;
}

#nbextension-scratchpad {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
	background-color: #400000;
	border-left: 1px solid #107010 !important;
	border-right: 1px solid #107010 !important;
	border-top:  1px solid #107010 !important;
	border-bottom:  1px solid #107010 !important;
	z-index: 9000;
}

div#pager {
	background-color: #505050 !important;
}

div#pager pre {
	line-height: 1.21429em;
	color: #8dc5e9;
	background-color: #181818;
	padding: 0.4em;
}

/* ------------------------------- Tree navigator -------------------------- */
.list_header {
	font-weight: bold;
	background-color: #000;
}

.list_container {
	margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid #353535;
}

.list_container > div {
    border-bottom: 1px solid #353535;
}

.list_item:hover {
    background-color: #400000;
}

.dynamic-instructions {
	display: inline-block;
	padding-top: 4px;
	color: #6e6e84;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #fff;
	background-color: #570712;
	border: 1px solid #9C1430;
	border-bottom-color: #480101;
	cursor: default;
	outline: none;
}

.nav-tabs > li > a:hover {
	border-color: #350808 #350808 #350808;

}
.nav > li > a:hover, .nav > li > a:focus {text-decoration: none; background-color: #800; color: #fff;}
.nav > li > a { color: #999; }
.nav-tabs { border-bottom: 1px solid #202020; background: #050505 }

.btn-default {
	color: #CCC3C3;
	background-color: #333;
	border-color: #303030;
}
.btn-default:hover {
	color: #BFB7B7;
	background-color: #900000;
	border-color: #200000;
}
	
	
table.dataframe, .dataframe td, .dataframe tr { 
	border: 1px solid #003000; border-collapse: collapse; color: #308030 !important;
}
	
.rendered_html tbody tr:nth-child(2n+1) {background: #102010;}
	
.dataframe th { 
	border: 1px solid #003000; border-collapse: collapse; background-color: #001800 !important; color: #709070 !important;
}
	
#texteditor-backdrop {
    background-color: #102030;
}

#texteditor-backdrop #texteditor-container .CodeMirror-gutter, #texteditor-backdrop #texteditor-container .CodeMirror-gutters {
    background-color: #201c1c;
}	

.timing_area {
    padding: 0 5px;
    border: none;
    border-top: 1px solid #202020;
    font-size: 90%;
	text-align: right !important;
	color: #e09050;
	background-color: #050505;
}	
	
/* Tooltip */
.ipython_tooltip {
    max-width: 100%;
    background-color: #111;
    border: #333 1px solid;
    outline: none;
    padding: 3px;
    margin: 0px;
    padding-left: 10px;
    font-family: monospace;
    min-height: 100px;
    box-shadow: 0px 6px 10px -1px #101010;
    border-radius: 1px;
}

.tooltipbuttons .ui-button {background: #333 !important; border-color: #666}
.pretooltiparrow:before {
  background-color: #f00;
  border: 1px #f00 solid;
}	
.tooltiptext pre {
    border: 0;
    border-radius: 0;
    font-size: 80% !important;
    background-color: #111 !important;
	color: #a0a0a0;
}

.cm-searching {
    background: #0aff0a;
    background: rgba(10, 255, 10, .2);
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: #1118;
  width: 100%;
  color: #eee;
  font-family: 'mononoki', 'Meslo LG S', monospace !important;
  font-size: 14px;
}
.CodeMirror-dialog { background-color: rgba(0, 0, 0, .8);}

/* --- Cell toolbar --- */
.celltoolbar {
    font-size: 75%;
    font-weight: bold !important;
    padding-top: 0px;
}

.celltoolbar {
    border: thin solid #212e22;
    border-bottom: none;
    background: #0d1424;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 19px;
    padding-right: 4px;
}

/* --- Check box --- */
input[type="checkbox"] {
  border: none;
  display: inline-block;
  height: 10px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: middle;
  width: 10px;
  text-align: center;
}

/* = Kernel indicator =*/
.kernel_indicator_name { color: #e28020; }
.kernel_idle_icon:before {color: #090}
#kernel_indicator {color: #050 !important;}

/* = Trusted indicator = */
.notification_widget {
    margin-right: 4px;
    color: #f7ec51;
    background-color: #131010;
    border-color: #2f633c;
}

.edit_mode .modal_indicator:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16 !important;
  content: "\2600";
  color: #3b9edd;
}

.command_mode .modal_indicator:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16 !important;
  content: '\2600';
  color: #0f0;
}

.running_notebook_icon:before { color: #11c800; content: "\2b24";}

.notebook_icon:before {color: #444;content: "\2b24";}

#running .panel-group .panel .panel-body .list_container .list_item {
    border-bottom: 1px solid #333;
}
#running .panel-default {
    border-color: #333;
    background-color: #101010;
}


/**********************************
 MathJax Settings and Style Script
**********************************/
.MathJax_Display,
.MathJax nobr>span.math>span {
    border: 0 !important;
    font-size: 120% !important;
    text-align: center !important;
    margin: 0em !important;
	color: #ccc;
}

/* Prevents MathJax from jittering */
/* Running tab */
.panel-default {
    border-color: #5cb85c;
    background-color: #101010;
}

#running .panel-group .panel .panel-heading {
    background-color: #333;
}

/* Widgets color */
.jupyter-widgets {
    color: #aaa;
}

/* Some widgets */
.ui-widget-header {
    border: 1.2px solid #4b4a50;
    background: #131415 50% 50% repeat-x;
    font-weight: bold;
}

.ui-dialog-title {
    color: #1796d6 !important;
    padding: 10px !important;
}


/* ========================================================================== */
.CodeMirror { color: #e0e0e0 !important;  background: #000; }
.cm-s-ipython.CodeMirror {background: #000; color: #e0e0e0;}
.cm-s-ipython .CodeMirror-linenumber {color: #00700a; background: #000;}	
.CodeMirror-linenumber {color: #afc4db80; background: #000;}	
.CodeMirror-gutters {
    border-right: 1px solid rgba(55, 55, 55, 0.75) !important;
    background-color: transparent !important;
	padding-right: 1px !important;
	white-space: nowrap;
    background: #000;
}
.CodeMirror-gutter {padding-left: 5px;}
.cm-s-default div.CodeMirror-selected, .cm-s-ipython div.CodeMirror-selected {
    background: rgba(150, 10, 10, 0.6) !important;
}
.CodeMirror-cursor { border-left: 3px solid #f00 !important; }
.cm-fat-cursor .CodeMirror-cursor {width: auto;border: 0 !important; background: #ff0000c0;}
.cm-fat-cursor div.CodeMirror-cursors {z-index: 1;}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #bb1010;
}
.cm-s-ipython .CodeMirror-matchingbracket { 
/*    text-decoration-line: underline; text-decoration-style: solid; */
	color: #d6d31b !important; 
    background-color: #4154a0 !important;
}

span.ansiblack  {color: #323537;}
span.ansiblue   {color: #afc4db;}
span.ansigray   {color: #838184;}
span.ansigreen  {color: #8f9d6a;}
span.ansipurple {color: #9b859d;}
span.ansired    {color: #cf6a4c;}
span.ansiyellow {color: #f9ee98;}
/*
.cm-s-ipython span.cm-comment {color: #515c68; font-style: normal !important; }
.cm-s-ipython span.cm-atom {color: #bf568b;}
.cm-s-ipython span.cm-number {color: #ca6840;}
.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #4e97ca;}
.cm-s-ipython span.cm-keyword {color: #bf8b56;}
.cm-s-ipython span.cm-string {color: #7a7a25;}
.cm-s-ipython span.cm-operator {color: #afc4db;}
.cm-s-ipython span.cm-builtin {color: #008ecd;}
.cm-s-ipython span.cm-variable {color: #56a08b;}
.cm-s-ipython span.cm-variable-2 {color: #7587a6;}
.cm-s-ipython span.cm-def {color: #bfbf56;}
.cm-s-ipython span.cm-error {background: #212121; color: #aa3030;}
.cm-s-ipython span.cm-bracket {color: #cbd6e2;}
.cm-s-ipython span.cm-tag {color: #bf8b56;}
.cm-s-ipython span.cm-link {color: #bf568b;}
.cm-s-default .cm-atom { color: #7E72CE; }
.cm-s-default .cm-link {color: #3974dd;}
.cm-s-default .cm-string {color: #de846c;}
.cm-s-default .cm-header {color: #a0a0a0;}
.cm-s-default .cm-attribute {color: #1090f0;}
.cm-s-default .cm-variable-2 {color: #00c0e0;}
.cm-s-default .cm-variable-3 {color: #00c070;}
.cm-s-default .cm-keyword {color: #c6c24D;}
*/
.cm-s-ipython span.cm-comment {color: #515c68;font-style: normal !important;}
.cm-s-ipython span.cm-atom {color: #ffe792; }
.cm-s-ipython span.cm-number {color: #ca7840; }
.cm-s-ipython span.cm-property {color: #77ABE7;}
.cm-s-ipython span.cm-attribute {color: #E39194;}
.cm-s-ipython span.cm-keyword {color: #60b44e; font-weight: bold;}
.cm-s-ipython span.cm-string {color: #d0981f; font-weight: normal;}
/*.cm-s-ipython span.cm-operator {color: #88a1bc; font-weight: normal;}*/
.cm-s-ipython span.cm-operator {color: #bb4627; font-weight: normal;}
.cm-s-ipython span.cm-builtin {color: #5b87f8; font-weight: normal;}
.cm-s-ipython span.cm-boolean {color: #ffe792; }
/*.cm-s-ipython span.cm-variable {color: #56a08b;}*/
.cm-s-ipython span.cm-variable {color: #a0b0a0;}
.cm-s-ipython span.cm-variable-2 {color: #E6992E; font-weight: bold;}
.cm-s-ipython span.cm-bracket {color: #cbd6e2;}
.cm-s-ipython span.cm-def {color: #bfbf56;font-weight: normal;}
.cm-s-ipython span.cm-error {background: rgba(191, 97, 106, .3) !important;}
.cm-s-ipython span.cm-tag {color: #CAA6EC;}
.cm-s-ipython span.cm-link {color: #E39194;}
.cm-s-ipython span.cm-storage {color: #ffffff;}
.cm-s-ipython span.cm-entity {color: #3cadd7;}
.cm-s-ipython span.cm-class {color: #E7C547;}
.cm-s-ipython span.cm-support {color: #ffe792;}
.cm-s-default .cm-header {color: #a0a0a0;}
.cm-s-ipython span.cm-qualifier {color: #77ABE7;}
.cm-s-default .cm-atom { color: #7E72CE; }
.cm-s-default .cm-link {color: #3974dd;}
.cm-s-default .cm-string {color: #de846c;}
.cm-s-default .cm-header {color: #a0a0a0;}
.cm-s-default .cm-attribute {color: #1090f0;}
.cm-s-default .cm-variable-2 {color: #00c0e0;}
.cm-s-default .cm-variable-3 {color: #00c070;}
.cm-s-default .cm-keyword {color: #c6c24D;}

.alert-info { color: #e5c259; background-color: #353230;border-color: #3f4647;}
.jupyter-keybindings-text { color: #595; }
.pull-right { background: #000; color: #aaa;  }
#short-key-binding-intro {background: #000; border-color: #444 }
#short-key-binding-intro p {color: #ff0;}
span.shortcut_descr {color: #afc4db}
span.item_name {color: #00b3ff}